html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
  }
  
  .margin-top {
    margin-top: 60px !important;
  }
  
  /* html, body {
    margin: 0 !important;
    height: 100% !important;
  } */
  
  .rounded-corner {
    border-radius: 8px;
  }
  
  .margin-x {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  main {
    display: flex;
    width: 100%;
    margin: 50px 0 15px 0;
    box-sizing: border-box;
  }
  
  #my-events {
    width: 20%;
    background-color: grey;
    padding: 15px 8px;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0 5px 0 10px;
  }
  
  #events-container {
    width: 80%;
    background-color: green;
    padding: 15px 8px;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0 10px 0 5px;
  }
  
  .margin-y {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .width-6 {
    width: 45%;
  }
  

  .search-bar {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 10px;
  }

  #hotels-card-container {
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

 .hotel-card {
    display: flex;
    flex-wrap: nowrap;
    width: 49%;
    margin-bottom: 10px;
 }

 .hotel-text {
    margin-left: 20px;
 }

 .hotel-img {
    height: 100%;
 }