html {
  height: 100%;
  background-color: hsl(0, 0%, 21%);
}

body {
  min-height: 100%;
  min-width: 100%;
  /* margin: 0 10px 0 20px; */
  /* margin-right: 15px; */
}

.margin-top {
  margin-top: 60px !important;
}

.rounded-corner {
  border-radius: 8px;
}

.margin-x {
  margin-left: 10px;
  margin-right: 10px;
}
.align-left {
  text-align: left;
}

.search-bar {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 15px;
}

#my-events {
  background-color: grey;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 65px 15px 0 15px;
  border-radius: 4px;
  padding-top: 10px;
  padding: 10px 15px 10px 15px;
  padding-bottom: 10px;
}

.event-card {
  display: flex;
  border-radius: 4px;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 35rem;
}

.event-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: left;
}

.event-border {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;  
}

.hotel-border {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;  
}

.info {
  position: absolute;
  /* display: flex; */
  /* justify-content: left; */
  width: 100%;
  top: 0;
  right: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.800);
  color: white;
  padding: 10px;
}

.hotel-info {
  position: absolute;
  /* display: flex; */
  /* justify-content: left; */
  width: 100%;
  top: 0;
  right: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 1.00);
  color: white;
  padding: 10px;
}

.event-info {
  position: relative;
  width: 50%;  
}

.name {
  font-size: xx-large;
}

.event-card:hover {
  opacity: 60%;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;}


#search-btn:hover {
  opacity: 65%;
}

#home-btn:hover,
#my-events-btn:hover {
  background-color: rgb(78, 76, 76);
}