:root {
  --platinum: #d3d4d9;
  --blue: #4b88a2;
  --red: #bb0a21;
  --charcoal: #252627;
  --snow: #fff9fb;
}

html {

  height: 100%;
  background-color: var(--blue);
}

body {
  min-height: 100%;
  min-width: 100%;
  background-color: var(--blue);
}

.margin-top {
  margin-top: 60px !important;
}

.rounded-corner {
  border-radius: 8px;
}

.margin-x {
  margin-left: 10px;
  margin-right: 10px;
}

main {
  display: flex;
  width: 100%;
  margin: 65px 0 15px 0;
  box-sizing: border-box; 
}

nav {
  background-color: var(--charcoal);
}

.navbar {
  background-color: var(--charcoal);
}

#favorite-events {
  width: 20%;
  background-color: var(--snow);
  padding: 15px 8px;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 0 5px 0 15px;
}

#my-events {
  display: flex;
  flex-direction: column-reverse;
}

#events-container {
  width: 80%;
  background-color: var(--snow);
  padding: 10px 0;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 0 15px 0 5px;
}

.margin-y {
  margin-top: 10px;
  margin-bottom: 10px;
}

.width-6 {
  width: 25rem;
}

.events {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  border-radius: 4px;
  padding-top: 10px;
  padding: 10px 15px 10px 15px;
  padding-bottom: 10px;
}

.my-card {
  position: relative;
  border-radius: 4px;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.event-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: left;
  border-radius: inherit;
}

.event-info {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.548);
  color: white;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  height: auto;
}

#favorite-events {
  background-color: var(--red);
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.card {
background-color: #f0f0f0;
margin-top: 10px;
position: relative;
height: 200px;
}

.card:hover {
  opacity: 60%;
  cursor: pointer;
}

.card-content{
  background-color: rgba(0, 0, 0, 0.548);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.search-bar {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 15px;
}

.save-icon {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
  background-color: rgba(128, 128, 128, 0.5);
  border: none;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
}
.save-hotel-btn:hover,
.save-icon:hover {
  opacity: 50%;
}

.hotel-card {
  background-color: white;
  position: relative;
  border-radius: 4px;
  height: 100px;
  margin-top: 15px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: 10px;

}

#home-btn:hover,
#my-events-btn:hover {
  background-color: rgb(78, 76, 76);
}

.save-hotel-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(128, 128, 128, 0.5);
  border: none;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.loading {
  margin-top: 25%;
  width: 50px;
  height: 50px;
}

#container-title {
  padding-left: 15px;
}

.navbar-burger {
  color: white; 
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 800px) {
  #favorite-events {
    display: none;
  }
  body {
    overflow: hidden;
  }
}
