:root {
  --platinum: #d3d4d9;
  --blue: #4b88a2;
  --red: #bb0a21;
  --charcoal: #252627;
  --snow: #fff9fb;
}

html {

  height: 100%;
  background-color: var(--blue);
}

body {
  min-height: 100%;
  min-width: 100%;
  background-color: var(--blue);
}

.margin-top {
  margin-top: 60px !important;
}

.rounded-corner {
  border-radius: 8px;
}

.margin-x {
  margin-left: 10px;
  margin-right: 10px;
}

main {
  display: flex;
  width: 100%;
  margin: 65px 0 15px 0;
  box-sizing: border-box; 
}

nav {
  background-color: var(--charcoal);
}

.navbar {
  background-color: var(--charcoal);
}

#favorite-events {
  width: 20%;
  background-color: var(--snow);
  padding: 15px 8px;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 0 5px 0 15px;
}

#my-events {
  display: flex;
  flex-direction: column-reverse;
}

#events-container {
  width: 80%;
  background-color: var(--snow);
  padding: 10px 0;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 0 15px 0 5px;
}

.margin-y {
  margin-top: 10px;
  margin-bottom: 10px;
}

.width-6 {
  width: 25rem;
}

.events {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  border-radius: 4px;
  padding-top: 10px;
  padding: 10px 15px 10px 15px;
  padding-bottom: 10px;
}

.my-card {
  position: relative;
  border-radius: 4px;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.event-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: left;
  border-radius: inherit;
}

.event-info {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.548);
  color: white;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

#favorite-events {
  background-color: var(--red);
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.card {
background-color: #f0f0f0;
margin-top: 10px;
position: relative;
height: 200px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.card:hover {
  opacity: 80%;
  cursor: pointer;
}

.card-content{
  background-color: rgba(0, 0, 0, 0.548);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.search-bar {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 15px;
}

.save-icon {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
  background-color: rgba(128, 128, 128, 0.5);
  border: none;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
}
.save-hotel-btn:hover {
  opacity: 80%;
}

.save-icon:hover {
  background-color: rgba(255, 255, 0, .5);
}

.hotel-card {
  background-color: white;
  position: relative;
  border-radius: 4px;
  height: 100px;
  margin-top: 15px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: 10px;
  padding-right: 20px;
}

#search-btn:hover {
  opacity: 75%;
}

.large {
  font-size: 20px;
  padding-right: 50px;
}

#home-btn:hover,
#my-events-btn:hover {
  background-color: rgb(78, 76, 76);
}

.save-hotel-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(128, 128, 128, 0.5);
  border: none;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.loading {
  margin-top: 25%;
  width: 50px;
  height: 50px;
}

.navbar-burger {
  color: white; 
}

.title-box {
  border-bottom: 3px solid var(--snow);
  padding-bottom: 10px;
}

.title-box h2 {
  font-size: 24px;
}

.title-box-events {
  padding-bottom: 10px;
  margin: 0 15px;
}

.title-box-events h2 {
  font-size: 24px;
}

#media-nav {
  display: flex;
  background-color: var(--charcoal);
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 300;
}

#media-nav a {
  color: white;
  padding: 15px 15px;
  margin: 0;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: left;
  align-items: center;
}

.search-div {
  display: flex;
  padding: 10px 15px;
  width: 50%;
}

#search-input {
  margin-left: 15px;
}

.buy-tickets {
  position: absolute;
  bottom: 8px;
  right: 15px;
  background-color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  box-shadow: rgba(177, 177, 177, 0.2) 0px 2px 8px 0px;
  background-color: var(--red);
  color: white;
}

.see-hotels {
  position: absolute;
  bottom: 8px;
  right: 120px;
  background-color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  box-shadow: rgba(177, 177, 177, 0.2) 0px 2px 8px 0px;
  background-color: var(--blue);
  color: white;
}

.buy-tickets:hover,
.see-hotels:hover {
  opacity: 80%;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
 .name {
  font-size: 18px;
 }
}

@media screen and (max-width: 800px) {
  #favorite-events {
    display: none;
  }
  body {
    overflow: hidden;
  }
  #events-container {
    width: 100%;
    margin-left: 15px;
  }
  .flex {
    width: 100%;
    justify-content: center;
  }
  .search-div {
    width: 100%;
  }
  main {
    margin-top: 125px;
  }
}

@media screen and (max-width: 475px) {
  .event-info {
    height: 100%;
    display: block;
  }
  #events-container {
    width: 100%;
    margin: 0;
  }
}
